<h2 mat-dialog-title>
  {{ editMode ? "Edit Travel Note" : "Add Travel Note" }}
</h2>

<form [formGroup]="details">
  <mat-dialog-content>
    <div>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="place" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date from</mat-label>
        <input
          matInput
          [matDatepicker]="dateFromPicker"
          formControlName="dateFrom"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="dateFromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateFromPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date to</mat-label>
        <input
          matInput
          [matDatepicker]="dateToPicker"
          formControlName="dateTo"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="dateToPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateToPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rating</mat-label>
        <input
          matInput
          formControlName="rating"
          type="number"
          min="1"
          max="5"
          step="0.5"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
</form>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="editMode ? 'save' : 'add'"
    [disabled]="details.invalid || isDisabled"
    (click)="applyChanges()"
  >
    {{ editMode ? "Save" : "Add" }}
  </button>
</mat-dialog-actions>
