.home-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.home-title {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.home-favorite-button {
  margin-left: auto;
}

.home-add-button {
  inline-size: 40px;
  block-size: 40px;
  border-radius: 40%;
  background-color: #ceb4f1c0;
}

.home-add-icon {
  color: black;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.famous-card-layout {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.home-container {
  block-size: 100%;
  background-color: white;
}

.home-sidenav {
  background-color: white;
  color: black;
  border-radius: none;
  block-size: 100vh;
}

.sidenav-expansion-panel {
  background-color: white;
  color: black;
}

.expansion-panel-content {
  display: flex;
  flex-direction: column;
}

.expansion-title {
  color: black;
}

.error-text {
  color: red;
  font-size: 12px;
}

.home-search-bar {
  margin-left: 10px;
}

.home-button {
  background-color: #6200ee;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.note-count{
  color: black;
  font-size: 1rem;
}
